body{
    padding: 0px;
    margin: 0px;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    height: 70px;
    width: 95%;
    margin: 0;
    padding: 0;
    background-color: #0F1926;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;   
}
.Titulo h2{
    color: aliceblue;
    letter-spacing: 2px;
    
}
.logo img{
    height: 50px;
    width: 50px;
    border: 1px solid #f8f8f8;
    border-radius: 50px;
    transition: .3s;
}

.logo img:hover{
    height: 55px;
    width: 55px;
}
.btn{
    
    display: flex;
    font-size: 18px;
    letter-spacing: 1px;
    transition: .3s;
}

.btn a{
    padding: 50px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    color: #f8f8f8;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    border-radius: 30px;
    background-color: #172140;
    
    
}

.btn:hover{
    font-size: 20px;
}
